html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: rgba(184, 191, 191, 0.3);
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 50px;
}

h2#contact-form {
  text-align: center;
  padding: 50px;
}

a:link {
  color: #592614;
  text-decoration: none;
}
a:hover {
  color: #d9ab9a;
}
a:visited {
  color: #8c5b49;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #260101;
  font-weight: 700;
  padding-left: 50px;
}

h1 {
  font-size: 16px;
  padding: 50px;
  font-weight: 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
  padding-bottom: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  padding-top: 40px;
}

h6 {
  font-size: 16px;
}
section#contact-me {
  border-style: ridge;
  border-color: #d9ab9a;
  border-width: 10px;
  text-align: center;
  padding-top: 50px;
}

p {
  font-size: 16px;
  color: #260101;
  line-height: 2;
  padding-bottom: 50px;
}

#stay-tuned {
  text-align: center;
  font-size: 24px;
  font-weight: 200px;
  color: #592614;
  padding-top: 50px;
}
#copyright {
  color: #8c5b49;
  text-align: right;
  font-size: 20px;
}

form.contact-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  text-align: center;
  border-color: #d9ab9a;
  border-style: double;
  border-width: 20px;
  background-color: #260101;
}

div.row {
  margin: 20px;
}

input {
  height: 20px;
  padding: 20px;
  width: 200px;
}

textarea {
  height: 20px;
  width: 200px;
  padding: 20px;
}

input#button {
  background-color: #b8bfbf;
  color: #260101;
  margin: 20px;
  padding: 20px;
  align-items: center;
  font-size: 24px;
  text-align: center;
  height: 100px;
}

img#contact.form {
  text-align: right;
  opacity: 0.8;
  padding-top: 100px;
  border-radius: 0%;
}

img#contact.center {
  align-self: center;
  padding-top: 20px;
}

p#bye {
  color: #592614;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

#about-list {
  list-style: none;
  padding-left: 100px;
}

.site-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
ul.site-menu {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  color: #d9ab9a;
}

img {
  border-radius: 50%;
  width: 3in;
  opacity: 0.5;
  position: relative;
}

fieldset {
  color: white;
}

#about-me {
  position: absolute;
  padding-top: 20px;
}

header {
  padding-bottom: 10px;
}

div.main-site-warp {
  padding-bottom: 60px;
}

.site-btn img {
  margin-left: 15px;
}

.site-btn.sb-solid {
  background: #242424;
  border-color: #242424;
  color: #fff;
}

.site-btn.sb-solid:hover {
  color: #fff;
}

.site-btn.sb-dark {
  border-color: #242424;
}

.header-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 27px 45px;
  z-index: 999;
  background: none;

  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-social {
  text-align: start;
}

.header-social a {
  font-size: 18px;
  margin-right: 30px;
  padding: 5px;
}

.about-info h2 {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 40px;
  line-height: 1.1;
  font-family: "Playfair Display", serif;
}

.contact-info {
  list-style: none;
  margin-bottom: 65px;
  position: relative;
}

.contact-info li {
  font-size: 14px;
  color: #592614;
  margin-bottom: 5px;
}

.contact-info li a {
  color: #592614;
}

/*mobile*/
@media only screen and (min-width: 320px) {
  main {
    display: flex;
  }
  body {
    flex-direction: column;
  }
  h5 {
    padding: 0;
  }

  form.contact-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*tablet*/

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }
  div.page-section {
    align-items: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0.5in;
    margin-right: 0.5in;
  }
  section#contact-me {
    border-style: ridge;
    border-color: #d9ab9a;
    border-width: 10px;
    text-align: center;
    margin: 50px;

    padding: 50px;
  }
}

/*desktop*/

@media only screen and (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
  }
  ul,
  li {
    padding-left: 60px;
  }

  .contact-info {
    font-size: 30px;
  }
  img#contact.center {
    padding: 20px;
    align-self: center;
    text-align: center;
    opacity: 0.8;
  }

  #bye {
    text-align: center;
  }

  .about-info {
    flex-direction: column;
  }
  h2#contact-form {
    text-align: center;
    padding-bottom: 50px;
  }
  form.contact-form {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    text-align: center;
  }
  input {
    width: 500px;
  }
  textarea {
    width: 500px;
  }

  img {
    border-radius: 50%;
    width: 3in;
    opacity: 0.5;
    position: relative;
  }
  /*
  div#About {
    margin-left: 100px;
    margin-right: 100px;
  }
*/
  /*
  p#one,
  p#two,
  p#three,
  p#four {
    width: 5in;
    height: 2in;
  }

  div#About {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
*/

  div#About {
    padding-left: 100px;
    padding-right: 100px;
  }
  p {
    margin: 50px;
  }

  /*
  p#first-project {
    margin-left: 400px;
    margin-right: 100px;
  }
  h5#fashion {
    margin-left: 400px;
  }
  p#second-project {
    margin-left: 100px;
    margin-right: 600px;
  }

  h5#book {
    margin-left: 100px;
  }

  p#third-project {
    margin-left: 600px;
  }

  h5#shop {
    margin-left: 600px;
  }

  */

  p#second-project,
  p#first-project,
  p#third-project {
    width: 3.5in;
  }
  section.page-section {
    display: flex;
    flex-direction: row;
  }

  img {
    text-align: center;
    padding: 0;
  }

  h2#about-me {
    position: absolute;
    padding-top: 250px;
  }

  div.menu-social {
    font-size: 45px;
  }

  div.site-menu-warp {
    font-size: 60px;
    font-weight: 100;
  }

  input#button {
    background-color: #b8bfbf;
    color: #260101;
    margin: 20px;
    padding: 20px;
    align-items: center;
    font-size: 24px;
    text-align: center;
    width: 200px;
    height: 100px;
  }

  fieldset {
    align-items: center;
    padding: 0;
    margin: 0;
  }
  section#contact-me {
    border-style: ridge;
    border-color: #d9ab9a;
    border-width: 10px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }
}
